.N11 {
    font: 30px "Comic Sans MS", Futura, sans-serif;
    margin: 20px;
  
  ol, ul {
    padding-left: 300px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  .square,
  .square0,
  .square1,
  .square2,
  .square3,
  .square4,
  .square5,
  .square6,
  .square7,
  .square8,
  .square9,
  .squarecolor0,
  .squarecolor1,
  .squarecolor2,
  .squarecolor3,
  .squarecolor4,
  .squarecolor5,
  .squarecolor6,
  .squarecolor7,
  .squarecolor8,
  .squarecolor9,
  .squarenull{
    float: left;
    font: 10px "Comic Sans MS";
    font-weight: bold;
    line-height: 20px;
    height: 50px;
    width: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }

  .square{
      background : white;
  }

  .square0 {
    background: url("./img/0.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square1 {
    background: url("./img/1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square2 {
    background: url("./img/2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square3 {
    background: url("./img/3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square4 {
    background: url("./img/4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square5 {
    background: url("./img/5.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square6 {
    background: url("./img/6.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square7 {
    background: url("./img/7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square8 {
    background: url("./img/8.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square9 {
    background: url("./img/9.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor0 {
    background: url("./img/0color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor1 {
    background: url("./img/1color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor2 {
    background: url("./img/2color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor3 {
    background: url("./img/3color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor4 {
    background: url("./img/4color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor5 {
    background: url("./img/5color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor6 {
    background: url("./img/6color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor7 {
    background: url("./img/7color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor8 {
    background: url("./img/8color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .squarecolor9 {
    background: url("./img/9color.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .square{
    border: 1px solid #999;
  }

  .squarenull{
      opacity: 0;
      border: hidden;
  }
  
  .square:focus,
  .square0:focus,
  .square1:focus,
  .square2:focus,
  .square3:focus,
  .square4:focus,
  .square5:focus,
  .square6:focus,
  .square7:focus,
  .square8:focus,
  .square9:focus,
  .squarenull:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus
  .kbd-navigation .square0:focus
  .kbd-navigation .square1:focus
  .kbd-navigation .square2:focus
  .kbd-navigation .square3:focus
  .kbd-navigation .square4:focus
  .kbd-navigation .square5:focus
  .kbd-navigation .square6:focus
  .kbd-navigation .square7:focus
  .kbd-navigation .square8:focus
  .kbd-navigation .square9:focus
  .kbd-navigation .squarenull:focus {
    background: #ddd;
  }
  
  
  .game {
    display: flex;
    flex-direction: row;
    
    .game-info {
        margin-left: 20px;
    }
  }
    
    .star {
        font-size : 50px;
        color : yellowgreen;
    }
    
    .label{
        font-size: 15px;
    }
}
    
.divs {
    background-image : url("https://i.imgur.com/cHLFJdn.png");
    background-size : 100%;
    font-size : 30px;
}